<section class="about container">

    <h1 class="text-center mb-5">About</h1>
    <p>The history of Indian Railways dates back to over 160 years ago. On 16th April 1853, the first passenger train ran between Bori
         Bunder (Bombay) and Thane, a distance of 34 km. It was operated by three locomotives, named Sahib, Sultan and Sindh, and had thirteen carriages. The photo to the right, while capturing a scene from the early days of railways in India, features a train pulled by a single locomotive, and is widely - but incorrectly - believed to be that first service.
    </p>
    <p>
        The first Railway Workshop was established at Jamalpur, near Munger, Bihar, in 1862. It gradually became one of the major industrial unit of India, with iron and steel foundries, rolling mills and more.
    </p>
    <p>
        In rail transport, a train is a series of connected vehicles that run along a railway track and transport people or freight. The word train comes from the Old French trahiner, derived from the Latin trahere meaning "to pull, to draw".[1] Trains are typically pulled or pushed by locomotives (often known simply as "engines"), though some are self-propelled, such as multiple units. Passengers and cargo are carried in railroad cars, also known as wagons. Trains are designed to a certain gauge, or distance between rails. Most trains operate on steel tracks with steel wheels,
         the low friction of which makes them more efficient than other forms of transport

    </p>
    <div class="follow text-center">
        <h4>Follow Us</h4>
        <a href="#">Facebook</a>
        <a href="#">Youtube</a>
        <a href="#">Instagram</a>
        <a href="#">Twitter</a>
    </div>

</section>